* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(-45deg, #46a229, #11eadb, #2356e2, #e61e61);
    background-size: 400% 400%;
    min-height: 100vh;
    animation: gradient 25s ease infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#scoreCounter {
    font-size: 100px;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.performance h1 {
    font-family: inherit;
    font-weight: lighter;
    color: white;
    margin-bottom: 20px;
}

#restart {
    padding: 0.2em 0.6em; /* Fix the typo here */
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

#restart:hover {
    font-family: inherit;
    cursor: pointer;
    font-weight: 10px;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

#restart:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

#quizPage {
    padding: 0.2em 0.6em; /* Fix the typo here */
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    height: 40px;
    width: 200px;
}

#quizPage:hover {
    font-family: inherit;
    cursor: pointer;
    font-weight: 10px;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

#quizPage:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
